
.{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background: white;
    border-bottom: 1px solid #ddd;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #2e2e2e;
}
nav a{
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
.buttons button{
    margin-left: 10px;
    padding: 8px 16px; 
border: none;
cursor: pointer;
}
.login{
    background-color: transparent;
    color: #2e7d32;
}
.register{
    background: #2e7d32;
    color: white;
    border-radius: 5px;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e8f5e9;
    padding: 60px 20px;
}
.hero h1 span{
    color: #2e7d32;
}
.hero-image img{
    max-width: 400px;
}
.clients{
    text-align: left;
    padding: 40px 20px;
}
.clients .logos img{
    height: 40px;
    margin: 10px;
}
.community-section{
    padding: 60px 20px;
    background-color: #ffffff;
    font-family: sans-serif;
}
.container{
     max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.community-section h2{
font-size: 32px;
margin-right: 40px;
font-weight: bold;
}
.feautures{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 60px;
}
.feautures-box{
    flex: 1;
    min-width: 280px;
    margin: 10px;
    justify-content: space-between;
}
.feautures-box img{
    height: 60px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: flex-start;
}
.feautures-box h3{
    font-size: 20px;
    margin-bottom: 10px;
 text-transform: lowercase;
    color: #2e2e2e;
}
.feautures-box p{
     color: #666;
     padding: 0 10px;
}
.testimonial image img{
    max-width: 100%;
height: auto;
}
.testimonial{
    display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
}

.testimonial-content{
    max-width: 550px;
}
.testimonial-content h3{
    font-size: 24px;
    color: #333;
}
.testimonial-content p{
    color: #444;
    margin-bottom: 20px;
}
.btn-learn{
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text{
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}
 
    .stats{
        padding: 40px 20px;
        background: #e8f5e9;
        text-align: center;
    }
    .stats-grid{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    footer{
        background: #1b1b1b;
        color: white;
        padding: 30px 20px;
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
    }
    .footer link h4{
        margin-bottom: 10px;
    }
    /*responsive style*/
    @media(max-width:1024px){
        .container {
            flex-direction: column;
            align-items: flex-start;
    }
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero-image img{
        max-width: 100%;
        margin-top: 20px;
    }
    .feature-grid{
        flex-direction: column;
        align-items: center;
    }
    .feature-card{
        width: 80%;
        margin-bottom: 20px;
        justify-content: left;
        align-items: initial;
    }
    .stats-grid{
        flex-direction: column;
        gap: 10px;
    }
    }
    @media(max-width:786px){
        nav {display: none;
    }
    .footer-container{
        flex-direction: columns;
        text-align: center;
        gap: 20px;
    }
    .clients.logo{
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero-text h1{
        font-size: 24px;
        justify-content: center;
    }
    .stats-grid div{
        font-size: 16px;
    }
    }
    





